html, body {
    width: 98vw;
    height: 85vh;
}

body {
    background-color: rgb(38, 52, 69);
    color: white;
    font-family: 'Montserrat';
}

.filled-cell {
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

th {
    height: 40px;
    border: 1px solid white;
}

.filled-cell:hover, 
.journal-close-button:hover,  
.close-add-task-button:hover,
.save-task-button:hover {
    background-color: rgb(64, 80, 99);
}

.today {
    background-color: green;
}

.next-days {
    color: gray;
}

.next-days:hover {
    background-color: rgb(38, 52, 69);
}

/*month and username at DB*/
.month, .username, .prev-month, .next-month {
    position: fixed;
    top: 40px;
}

.month {
    left: 50px;
    font-weight: bold;
    font-size: 20px;
}

.prev-month, .next-month {
    font-size: 20px;
    cursor: pointer;
    top: 60px;
    background-color: rgb(64, 80, 99);
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.prev-month:hover, .next-month:hover {
    background-color: rgb(86, 104, 125);
}

.prev-month {
    left: 20px;
}

.next-month {
    left: 234px;
}

.username {
    right: 5%;
    cursor: pointer;
}

/*calendar at DB*/
.calendar {
    position: fixed;
    top: 100px;
    width: 95vw;
    height: 85vh;
    text-align: center;
    table-layout: fixed;
}

.cell-date {
    margin: 0;
}

/*overlay containing the journal portion*/
.overlay {
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*translates position*/
    border: none;
    background-color: rgb(38, 52, 69);
    border-radius: 10px;
    z-index: 999;
    display: none;
}

.journal-overlay {
    width: 700px;
    height: 90%;
    padding: 0px;

    hr {
        width: 94%;
        margin: 10px 20px;
        display: inline-block;
    }
}

.task {
    display: grid;
    grid-template-columns: 40px 360px 150px 30px 30px;
    font-size: 12px;
}

.no-tasks {
    font-size: 12px;
    font-style: italic;
    color: rgb(142, 156, 173);
}

.task-button {
    cursor: pointer;
}

.checkbox-input {
    width: 15px;
    height: 15px;
}

/*Daily Quota elements*/
.daily-quota-overlay {
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 20px;
}

.small-inner-description {
    font-style: italic;
    font-size: 10px;
}

.input-field {
    margin-bottom: 10px;
}

.invalid-input {
    text-align: center;
    margin: auto;
}

/* Journal Overlay elements */
.journal-date {
    margin-left: 30px;
}

.journal-close-button,
.close-add-task-button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    color: white;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.journal-entry-portion,  
.checklist-portion {
    align-content: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(64, 80, 99);
    width: 90%;
    height: 40%;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 0;
}

.checklist-header {
    display: grid;
    grid-template-columns: auto auto;
}

.portion-title {
    margin-left: 20px;
    margin-bottom: 0;
}

.portion-add-task {
    text-align: right;
    font-size: 12px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: 0;
}

.portion-add-task:hover,
.save-task-button:hover {
    cursor: pointer;
}

.portion-add-task:hover {
    color:rgb(191, 206, 223);
}

.save-task-button:hover {
    background-color: rgb(86, 104, 125);
}

.add-task-overlay {
    display: none;
    position: absolute;
    width: 250px;
    height: fit-content;
    right: 45px;
    bottom: 45px;
}

.add-task-div {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 12px;
    background-color: rgb(38, 52, 69);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px white solid;

    p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    input {
        width: 95%;
        padding: 5px;
    }

    .date-input {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.save-task-button {
    width: 70px;
    background-color: rgb(64, 80, 99);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
}

/*the journal entry portion*/
.content-div {
    height: 70%;
    padding: 0px 20px;
}

.checklist-content-div {
    overflow-y: auto;
    
    p {
        margin: 0;
    }
}

.journal-entry-field {
    width: 99%;
    height: 98%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(64, 80, 99);
    color: white;
    resize: none;
    border: none;
}

/* background fade */
.background-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    z-index: 99;
    background-color: black;
    display: none;
}

/*Account Settings elements*/
.account-settings-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    border: none;
    background-color: black;
    z-index: 999;
    padding: 20px;
    display: none;

    p {
        margin: auto;
    }
}

.user-information {
    table-layout: fixed;
    font-size: 12px;
}

.clickable-setting {
    padding: 10px;
    cursor: pointer;
}

.clickable-setting:hover {
    background-color: rgb(64, 80, 99);
}

.minimal-tasks-completed {
    background-color: #0B2447;
    color: white;
}

.moderate-tasks-completed {
    background-color: #576CBC;
    color: rgb(38, 52, 69);
}

.multiple-tasks-completed {
    background-color: #576CBC;
    color: rgb(38, 52, 69);
}

.quota-reached {
    background-color: #A5D7E8;
    color: rgb(38, 52, 69);
}
