html, body {
    width: 98vw;
    height: 85vh;
}

body {
    background-color: rgb(38, 52, 69);
    color: white;
    font-family: 'Montserrat';
}

td {
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

hr {
    width: 95%;
    margin: 10px 15px;
}

td:hover, .journal-close-button:hover {
    background-color: rgb(64, 80, 99);
}

.today {
    background-color: green;
}

/*logo title*/
.logo-title {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 15px;
    margin-bottom: 50px;
}

/*month and username at DB*/
.month, .username {
    position: fixed;
    top: 40px;
}

.month {
    left: 5%;
    font-weight: bold;
    font-size: 20px;
}

.username {
    right: 5%;
    cursor: pointer;
}

/*calendar at DB*/
.calendar {
    width: 100%;
    height: 100%;
    text-align: center;
    table-layout: fixed;
}

.table-header {
    border: 1px solid white;
}

.cell-date {
    margin: 0;
}

/*overlay containing the journal portion*/
.overlay-div {
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*translates position*/
    width: 700px;
    height: 90%;
    border: none;
    background-color: rgb(38, 52, 69);
    border-radius: 10px;
    z-index: 999;
    display: none;
}

.daily-quota-div {
    text-align: center;
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*translates position*/
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 10px;
    z-index: 999;
    background-color: rgb(38, 52, 69);
    padding: 20px;
    display: none;
}

.logo-title {
    font-weight: bold;
    font-size: 30px;
    margin: 15px;
}

.description {
    margin-bottom: 20px;
}

.inner-description {
    margin: auto;
}

.small-inner-description {
    font-style: italic;
    font-size: 10px;
}

.input-field {
    display: inline;
    width: 200px;
    height: 15px;
    padding: 5px;
    margin-bottom: 20px;
}

.button {
    font-family: 'Montserrat';
    background-color: rgb(64, 80, 99);
    color: white;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(86, 104, 125);
}

/*displaying the overlay*/
.display-content {
    display: block !important;
}

/* */
.journal-date {
    margin-left: 15px;
}

.journal-close-button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    color: white;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.journal-entry-portion,  .checklist-portion{
    align-content: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(64, 80, 99);
    margin: 15px;
    height: 40%;
}

.portion-title {
    margin-left: 15px;
    display: block;
    margin-bottom: 0;
}

/*the journal entry portion*/
.journal-entry-portion {
    
}

.journal-entry-div {
    height: 100%;
}

.journal-entry-field {
    width: 95%;
    height: 70%;
    margin: auto;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(64, 80, 99);
    color: white;
    resize: none;
    border: none;
}

/*the checklist portion*/
.checklist-portion {

}

/*background fade*/
.background-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    z-index: 99;
    background-color: black;
    display: none;
}

