td {
    padding-bottom: 10px;
}

.container {
    background-color: rgb(38, 52, 69);
}

.input-container {
    align-content: center;
    display: block;
    width: fit-content;
    margin: auto;
}

.invalid-login {
    font-size: 10px;
    font-style: italic;
    color: rgb(255, 0, 0);
    opacity: 0.8;
    margin: auto;
    display: none;
    text-align: right;
}

.button-cell {
    text-align: right;
}

.button {
    width: 100px;
}

.to-sign-up {
    color:  rgb(174, 186, 202);
    text-decoration: none;
    font-size: 10px;
    font-style: italic;
}

.to-sign-up:hover {
    color: rgb(209, 216, 226);
}
